<form accept-charset="UTF-8" action="assembler_cycles" method="POST">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA="/>
  <strong>Instrucciones:&nbsp;</strong>
  <label id="cant_instrucciones"><%= @assembler_ram.instructions %></label>
  <input id="id_cpu" type="hidden" value="<%=@assembler_cpu.id%>" />
  <div id="assembler-cycle" class="container">
    <input type="text" id="assembler_dir_bus" name="busDirs"><br>
    <input type="text" id="assembler_data_bus" name="busDatos"><br>
    <div id="assembler-cycle-cpu">
      <input type="text" id="assembler_pc" name="pc" value="<%=@assembler_cpu.pc%>"><br>
      <input type="text" id="assembler_ir" name="ir"><br>
      <input type="text" id="assembler_mar" name="mar"><br>
      <input type="text" id="assembler_mbr" name="mbr">
      <% for i in 1..6 %>
        <br><input type="text" id="assembler_r<%=i%>" name="r<%=i%>">
      <% end %>
    </div>
    <div id="assembler-cycle-ram-cells">
      <table>
        <% for i in 0..30 %>
          <% cell = @assembler_ram.findCellByPosition(i) %>
          <% if cell == nil %>
            <input class="nonborder" type="text" name="ram" id="assembler_dir-<%=i%>">&nbsp;
            &nbsp;<input type="text" name="ram" id="assembler_cont-<%=i%>">
          <% else %>
            <input class="nonborder" type="text" name="ram" id="assembler_dir-<%=i%>" value="<%= cell.direction %>">&nbsp;
            &nbsp;<input type="text" name="ram" id="assembler_cont-<%=i%>" value="<%= cell.content %>">
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <!--input type="submit" value="Aceptar" id="create_cycle_assembler"-->
</form>
<% javascript 'assembler_cycles-general_use_registers' %> 