<form accept-charset="UTF-8" id="assembler_cycle_form" action="/assembler_cycles/verify_specific/<%=@assembler_cycle.id%>" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA="/>
  <strong>Instrucciones:&nbsp;</strong>
  <label id="cant_instrucciones"><%= @assembler_ram.instructions %></label><br>
  <strong>Instrucciones ejecutadas:&nbsp;</strong>
  <label id="instrucciones_ejecutadas"><%= @assembler_cycle.executed_instructions %></label><br>
  <input type="hidden" id="instruccion" name="instruccion" value="<%=@assembler_cycle.actual_instruction%>">
  <input type="hidden" id="paso" name="paso" value="<%=@assembler_cycle.step%>">
  <input type="hidden" id="ejec" name="ejec" value="<%=@assembler_cycle.execution_cycle%>">
  <input type="hidden" id="store" name="store" value="<%=@assembler_cycle.store%>">
  <input type="hidden" id="registro" name="registro" value="<%=@assembler_cycle.register%>">
  <input type="hidden" id="direccion" name="direccion" value="<%=@assembler_cycle.direction%>">
  <input type="hidden" id="ejecutadas" name="ejecutadas" value="<%=@assembler_cycle.executed_instructions%>">
  <input type="hidden" id="intents" name="intents" value="<%=@assembler_cycle.intents%>">
  <input type="hidden" id="fails" name="fails" value="<%=@assembler_cycle.fails%>">
  <div id="assembler-cycle" class="container">
    <input type="text" id="assembler_dir_bus" name="busDirs" value="<%=@assembler_cycle.specific_registers_cpu.dir_bus%>"><br>
    <input type="text" id="assembler_data_bus" name="busDatos" value="<%=@assembler_cycle.specific_registers_cpu.data_bus%>"><br>
    <div id="assembler-cycle-cpu">
      <input type="text" id="assembler_pc" name="pc" value="<%=@assembler_cycle.specific_registers_cpu.pc%>"><br>
      <input type="text" id="assembler_ir" name="ir" value="<%=@assembler_cycle.specific_registers_cpu.ir%>"><br>
      <input type="text" id="assembler_mar" name="mar" value="<%=@assembler_cycle.specific_registers_cpu.mar%>"><br>
      <input type="text" id="assembler_mbr" name="mbr" value="<%=@assembler_cycle.specific_registers_cpu.mbr%>"><br>
      <input type="text" id="assembler_ac" name="ac" value="<%=@assembler_cycle.specific_registers_cpu.ac%>"><br>
      <input type="text" id="assembler_dr" name="dr" value="<%=@assembler_cycle.specific_registers_cpu.dr%>">
    </div>
    <div id="assembler-cycle-ram-cells">
      <table>
        <% for i in 0..30 %>
          <% cell = @assembler_ram.findCellByPosition(i) %>
          <% if cell == nil %>
            <input class="nonborder" type="text" name="dir-<%=i%>" id="assembler_dir-<%=i%>">&nbsp;
            &nbsp;<input type="text" name="cont-<%=i%>" id="assembler_cont-<%=i%>">
          <% else %>
            <input class="nonborder" type="text" name="dir-<%=i%>" id="assembler_dir-<%=i%>" value="<%= cell.direction %>">&nbsp;
            &nbsp;<input type="text" name="cont-<%=i%>" id="assembler_cont-<%=i%>" value="<%= cell.content %>">
          <% end %>
        <% end %>
      </table>
    </div>
    <br>
    <label> Log de Operaciones: </label><br>
    <textarea id="log" name="log" rows="5" cols="18" readonly> <%= @assembler_cycle.log %> </textarea>
    <br>
    <br>
  </div>
  <!--input type="submit" value="Aceptar" id="create_cycle_assembler"-->
</form>
<% javascript 'assembler_cycles-specific_registers_'+@assembler_cpu.directions.to_s+'_dir' %> 