<%= form_for(@hexa_cpu) do |f| %>
  <% if @hexa_cpu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hexa_cpu.errors.count, "error") %> prohibited this hexa_cpu from being saved:</h2>

      <ul>
      <% @hexa_cpu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <fieldset id="hexa_instruction">
	  <label> Formato de Instruccion: </label><br>
	  <div class="field">
	    <%= f.label "CO: " %> &nbsp;
	    <%= f.text_field :co, max: 2, maxlength: 1 %> &nbsp; <label> [dígitos] (máximo 8 bits) </label>
	  </div>
	  <div class="field">
	    <%= f.label "Dir: " %> &nbsp;
	    <%= f.text_field :dir, max: 6, maxlength: 1 %> &nbsp; <label> [dígitos] (máximo 24 bits) </label>
	  </div>
	  <label> La suma de ambos campos debe ser maximo 32 bits (8 digitos) </label><br>
  </fieldset>
  <br>
  <div class="field">
    <%= f.label "PC: " %> &nbsp;
    <%= f.text_field :pc %>
  </div>
  <label> Valor inicial en hexadecimal </label><br>
  <br>
  <fieldset id="hexa_cods">
  	<label> Códigos de Operacion (en binario): </label><br><br>
	  <div class="field">
	    <%= f.label "Leer: " %>&nbsp;
	    <%= f.text_field :load %>
	  </div>
	  <div class="field">
	    <%= f.label "Almacenar: " %>&nbsp;
	    <%= f.text_field :store %>
	  </div>
	  <div class="field">
	    <%= f.label "Sumar: " %>&nbsp;
	    <%= f.text_field :add %>
	  </div>
	  <div class="field">
	    <%= f.label "Restar: " %>&nbsp;
	    <%= f.text_field :sub %>
	  </div>
	  <label> Los operadores de ALU pueden ser vacios </label><br>
  </fieldset>
  <br>
  <div class="actions">
	<%= f.submit "Aceptar" %>
  </div>
<% end %>
