<p id="notice"><%= notice %></p>
<div class="container">
  <strong>CO:</strong>
  <label id="co"><%= @hexa_cpu.co %>&nbsp;[dígitos]</label>&nbsp;&nbsp;

  <strong>Dir:</strong>
  <label id="dir"><%= @hexa_cpu.dir %>&nbsp;[dígitos]</label><br>

  <strong>PC Inicial:</strong>
  <label id="pc"><%= @hexa_cpu.pc %></label><br>

  <strong>Load:</strong>
  <label id="load"><%= @hexa_cpu.load %></label>&nbsp;&nbsp;

  <strong>Store:</strong>
  <label id="store"><%= @hexa_cpu.store %></label>&nbsp;&nbsp;

  <strong>Add:</strong>
  <label id="add"><%= @hexa_cpu.add %></label>&nbsp;&nbsp;

  <strong>Sub:</strong>
  <label id="sub"><%= @hexa_cpu.sub %></label><br>
</div>