<h1>Ejercicios en Hexadecimal</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
    	  <th><h3>Nombre</h3></th>
        <th><h3>Fecha</h3></th>
        <th><h3>Puntuación</h3></th>
      </tr>
    </thead>
    <tbody>
      <% for i in 1..@exercises.size%>
    	<% exercise = @exercises[@exercises.size - i] %>
    	<tr>
    	  <% if exercise.hexa_ram_id == nil %>
            <th><a href="/hexa_rams/<%=exercise.id%>"><%= exercise.name %></a></th>
          <% else %>
            <th><a href="/hexa_cycles/<%=exercise.hexa_cycle_id%>"><%= exercise.name %></a></th>
          <% end %>
    	  <th><%= exercise.updated_at %></th>
    	  <th><%= exercise.get_score %></th>
    	</tr>
      <% end %>
    </tbody>
  </table>
</div>
<% stylesheet params[:controller] %>