<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Co:</strong>
  <%= @hexa_cpu.co %>
</p>

<p>
  <strong>Dir:</strong>
  <%= @hexa_cpu.dir %>
</p>

<p>
  <strong>Pc:</strong>
  <%= @hexa_cpu.pc %>
</p>

<p>
  <strong>Load:</strong>
  <%= @hexa_cpu.load %>
</p>

<p>
  <strong>Store:</strong>
  <%= @hexa_cpu.store %>
</p>

<p>
  <strong>Add:</strong>
  <%= @hexa_cpu.add %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @hexa_cpu.sub %>
</p>
</div>