<%= form_for(@binary_step) do |f| %>
  <% if @binary_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@binary_step.errors.count, "error") %> prohibited this binary_step from being saved:</h2>

      <ul>
      <% @binary_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :destiny %><br>
    <%= f.text_field :destiny %>
  </div>
  <div class="field">
    <%= f.label :pc %><br>
    <%= f.text_field :pc %>
  </div>
  <div class="field">
    <%= f.label :actual_instruction %><br>
    <%= f.text_field :actual_instruction %>
  </div>
  <div class="field">
    <%= f.label :step %><br>
    <%= f.number_field :step %>
  </div>
  <div class="field">
    <%= f.label :execution_cycle %><br>
    <%= f.check_box :execution_cycle %>
  </div>
  <div class="field">
    <%= f.label :binary_cycle_id %><br>
    <%= f.text_field :binary_cycle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
