<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @binary_step.content %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @binary_step.origin %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @binary_step.destiny %>
</p>

<p>
  <strong>Pc:</strong>
  <%= @binary_step.pc %>
</p>

<p>
  <strong>Actual instruction:</strong>
  <%= @binary_step.actual_instruction %>
</p>

<p>
  <strong>Step:</strong>
  <%= @binary_step.step %>
</p>

<p>
  <strong>Execution cycle:</strong>
  <%= @binary_step.execution_cycle %>
</p>

<p>
  <strong>Binary cycle:</strong>
  <%= @binary_step.binary_cycle %>
</p>

<%= link_to 'Edit', edit_binary_step_path(@binary_step) %> |
<%= link_to 'Back', binary_steps_path %>
