<%= form_for(@cpu_binary) do |f| %>
  <% if @cpu_binary.errors.any? %>
    <div id="error_explanation" class="container">
      <h2><%= pluralize(@cpu_binary.errors.count, "error") %> prohibited this cpu_binary from being saved:</h2>

      <ul>
      <% @cpu_binary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="binary_cpu_form" class="container">
  <div id="binary_format" class="container">
  	<br>
	<label> Formato de Instruccion: </label><br><br>
	<div class="field">
	  <%= f.label "CO: " %> &nbsp;
	  <%= f.number_field :co, max: 8, maxlength: 1 %> &nbsp; <label> (máximo 8 bits) </label>
	</div>
	<div class="field">
	  <%= f.label "Dir: " %> &nbsp;
	  <%= f.number_field :dir, max: 12, maxlength: 2 %> &nbsp; <label> (máximo 12 bits) </label>
	</div>
	<label> La suma de ambos campos debe ser maximo 16 bits </label><br>
  </div>
  <div class="field">
    <%= f.label "PC inicial (en binario): " %> &nbsp;
    <%= f.text_field :pc %>
  </div>
  <div id="binary_cods" class="container">
  	<br>
  	<label> Códigos de Operacion: </label><br><br>
	  <div class="field">
	    <%= f.label "Leer: " %>&nbsp;
	    <%= f.text_field :load %>
	  </div>
	  <div class="field">
	    <%= f.label "Almacenar: " %>&nbsp;
	    <%= f.text_field :store %>
	  </div>
	  <div class="field">
	    <%= f.label "Sumar: " %>&nbsp;
	    <%= f.text_field :add %>
	  </div>
	  <div class="field">
	    <%= f.label "Restar: " %>&nbsp;
	    <%= f.text_field :sub %>
	  </div>
	  <label> Los operadores de ALU pueden ser vacios </label><br>
  </div>
  <div class="actions">
	<%= f.submit "Aceptar" %>
  </div>
  </div>
<% end %>
