<%= form_for(@cpu_binary) do |f| %>
  <% if @cpu_binary.errors.any? %>
    <div id="error_explanation" class="container">
      <h2><%= pluralize(@cpu_binary.errors.count, "error") %> Verifique los siguientes campos: </h2>

      <ul>
      <% @cpu_binary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="binary_cpu_form" class="container">
  <br>
  <label> Nombre del ejercicio: </label>&nbsp;&nbsp;<input type="text" name="name" id="name">
  <br>
  <div id="binary_format" class="container">
  	<br>
	<label> Formato de Instruccion: </label><br><br>
	<%= image_tag("register.png", :style => "max-width:300px; max-height:80px;") %><br>
	bits:&nbsp;&nbsp;<label id="a">0</label><label id="b">0</label><label id="c">0</label><label id="d">0</label><br>
	<div class="field">
	  <%= f.label "CO: " %> &nbsp;
	  <%= f.number_field :co, min:4, max: 8, maxlength: 1 %> &nbsp; <label> (4 - 8 bits) </label>
	</div>
	<div class="field">
	  <%= f.label "Dir: " %> &nbsp;
	  <%= f.number_field :dir, min:4, max: 12, maxlength: 2 %> &nbsp; <label> (4 - 12 bits) </label>
	</div>
	<label> La suma de ambos campos debe ser maximo 16 bits </label><br>
  </div>
  <div class="field">
    <%= f.label "PC inicial (en binario): " %> &nbsp;
    <%= f.text_field :pc %>
  </div>
  <div id="binary_cods" class="container">
  	<br>
  	<label> Códigos de Operacion: </label><br><br>
	  <div class="field">
	    <%= f.label "Leer: " %>&nbsp;
	    <%= f.text_field :load %>
	  </div>
	  <div class="field">
	    <%= f.label "Almacenar: " %>&nbsp;
	    <%= f.text_field :store %>
	  </div>
	  <div class="field">
	    <%= f.label "Sumar: " %>&nbsp;
	    <%= f.text_field :add %>
	  </div>
	  <div class="field">
	    <%= f.label "Restar: " %>&nbsp;
	    <%= f.text_field :sub %>
	  </div>
	  <label> Los operadores de ALU pueden ser vacios </label><br>
  </div>
  <div class="actions">
	<%= f.submit "Aceptar", :id => "create_cpu_binary" %>
  </div>
  </div>
<% end %>
