<%= form_for(@cpu_binary) do |f| %>
  <% if @cpu_binary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu_binary.errors.count, "error") %> prohibited this cpu_binary from being saved:</h2>

      <ul>
      <% @cpu_binary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <fieldset>
	  <legend> Formato de Instruccion: </legend>
	  <div class="field">
	    <%= f.label "CO: " %> &nbsp;
	    <%= f.number_field :co, max: 8 %>
	  </div>
	  <div class="field">
	    <%= f.label "Dir: " %> &nbsp;
	    <%= f.number_field :dir, max: 12 %>
	  </div>
	  <legend> La suma de ambos campos debe ser maximo 16 bits </legend>
  </fieldset>
  <br>
  <div class="field">
    <%= f.label "PC: " %> &nbsp;
    <%= f.text_field :pc %>
  </div>
  <legend> Valor inicial en binario </legend>
  <br>
  <fieldset>
  	<legend> Códigos de Operacion (en binario): </legend>
	  <div class="field">
	    <%= f.label "Leer: " %>&nbsp;
	    <%= f.text_field :load %>
	  </div>
	  <div class="field">
	    <%= f.label "Almacenar: " %>&nbsp;
	    <%= f.text_field :store %>
	  </div>
	  <div class="field">
	    <%= f.label "Sumar: " %>&nbsp;
	    <%= f.text_field :add %>
	  </div>
	  <div class="field">
	    <%= f.label "Restar: " %>&nbsp;
	    <%= f.text_field :sub %>
	  </div>
	  <legend> Los operadores de ALU pueden ser vacios </legend>
  </fieldset>
  <br>
  <div class="actions">
	<%= f.submit "Aceptar" %>
  </div>
<% end %>
