<%= form_for(@cpu_binary) do |f| %>
  <% if @cpu_binary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu_binary.errors.count, "error") %> prohibited this cpu_binary from being saved:</h2>

      <ul>
      <% @cpu_binary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <fieldset id="binary_instruction">
	  <label> Formato de Instruccion: </label><br><br>
	  <div class="field">
	    <%= f.label "CO: " %> &nbsp;
	    <%= f.text_field :co, max: 8, maxlength: 1 %> &nbsp; <label> [bits] (máximo 8 bits) </label>
	  </div>
	  <div class="field">
	    <%= f.label "Dir: " %> &nbsp;
	    <%= f.text_field :dir, max: 12, maxlength: 2 %> &nbsp; <label> [bits] (máximo 12 bits) </label>
	  </div>
	  <label> La suma de ambos campos debe ser maximo 16 bits </label><br>
  </fieldset>
  <br>
  <div class="field">
    <%= f.label "PC inicial (en binario): " %> &nbsp;
    <%= f.text_field :pc %>
  </div>
  <br>
  <fieldset id="binary_cods">
  	<label> Códigos de Operacion (en binario): </label><br><br>
	  <div class="field">
	    <%= f.label "Leer: " %>&nbsp;
	    <%= f.text_field :load %>
	  </div>
	  <div class="field">
	    <%= f.label "Almacenar: " %>&nbsp;
	    <%= f.text_field :store %>
	  </div>
	  <div class="field">
	    <%= f.label "Sumar: " %>&nbsp;
	    <%= f.text_field :add %>
	  </div>
	  <div class="field">
	    <%= f.label "Restar: " %>&nbsp;
	    <%= f.text_field :sub %>
	  </div>
	  <label> Los operadores de ALU pueden ser vacios </label><br>
  </fieldset>
  <br>
  <div class="actions">
	<%= f.submit "Aceptar" %>
  </div>
<% end %>
