<p id="notice"><%= notice %></p>

  <strong>CO:</strong>
  <label id="co"><%= @cpu_binary.co %>&nbsp;bits</label>&nbsp;&nbsp;

  <strong>Dir:</strong>
  <label id="dir"><%= @cpu_binary.dir %>&nbsp;bits</label><br>

  <strong>PC Inicial:</strong>
  <label id="pc"><%= @cpu_binary.pc %></label><br>

  <strong>Load:</strong>
  <label id="load"><%= @cpu_binary.load %></label>&nbsp;&nbsp;

  <strong>Store:</strong>
  <label id="store"><%= @cpu_binary.store %></label>&nbsp;&nbsp;

  <strong>Add:</strong>
  <label id="add"><%= @cpu_binary.add %></label>&nbsp;&nbsp;

  <strong>Sub:</strong>
  <label id="sub"><%= @cpu_binary.sub %></label><br><br>
