<p id="notice"><%= notice %></p>

<p>
  <strong>Co:</strong>
  <label id="co"><%= @cpu_binary.co %></label>
</p>

<p>
  <strong>Dir:</strong>
  <label id="dir"><%= @cpu_binary.dir %></label>
</p>

<p>
  <strong>Pc:</strong>
  <label id="pc"><%= @cpu_binary.pc %></label>
</p>

<p>
  <strong>Load:</strong>
  <label id="load"><%= @cpu_binary.load %></label>
</p>

<p>
  <strong>Store:</strong>
  <label id="store"><%= @cpu_binary.store %></label>
</p>

<p>
  <strong>Add:</strong>
  <label id="add"><%= @cpu_binary.add %></label>
</p>

<p>
  <strong>Sub:</strong>
  <label id="sub"><%= @cpu_binary.sub %></label>
</p>
