<form accept-charset="UTF-8" id="hexa_cycle_form" action="/hexa_cycles/verify/<%=@hexa_cycle.id%>" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA="/>
  <strong>Instrucciones:&nbsp;</strong>
  <label id="cant_instrucciones"><%= @hexa_ram.instructions %></label><br>
  <strong>Instrucciones ejecutadas:&nbsp;</strong>
  <label id="instrucciones_ejecutadas"><%= @hexa_cycle.executed_instructions %></label><br>
  <input type="hidden" id="instruccion" name="instruccion" value="<%=@hexa_cycle.actual_instruction%>">
  <input type="hidden" id="paso" name="paso" value="<%=@hexa_cycle.step%>">
  <input type="hidden" id="ejec" name="ejec" value="<%=@hexa_cycle.execution_cycle%>">
  <input type="hidden" id="store" name="store" value="<%=@hexa_cycle.store%>">
  <input type="hidden" id="registro" name="registro" value="<%=@hexa_cycle.register%>">
  <input type="hidden" id="direccion" name="direccion" value="<%=@hexa_cycle.direction%>">
  <input type="hidden" id="ejecutadas" name="ejecutadas" value="<%=@hexa_cycle.executed_instructions%>">
  <input type="hidden" id="intents" name="intents" value="<%=@hexa_cycle.intents%>">
  <input type="hidden" id="fails" name="fails" value="<%=@hexa_cycle.fails%>">
  <div id="hexa-cycle" class="container">
    <input type="text" id="hexa_dir_bus" name="busDirs" value="<%=@hexa_cycle.specific_registers_cpu.dir_bus%>"><br>
    <input type="text" id="hexa_data_bus" name="busDatos" value="<%=@hexa_cycle.specific_registers_cpu.data_bus%>"><br>
    <div id="hexa-cycle-cpu">
      <input type="text" id="hexa_pc" name="pc" value="<%=@hexa_cycle.specific_registers_cpu.pc%>"><br>
      <input type="text" id="hexa_ir" name="ir" value="<%=@hexa_cycle.specific_registers_cpu.ir%>"><br>
      <input type="text" id="hexa_mar" name="mar" value="<%=@hexa_cycle.specific_registers_cpu.mar%>"><br>
      <input type="text" id="hexa_mbr" name="mbr" value="<%=@hexa_cycle.specific_registers_cpu.mbr%>"><br>
      <input type="text" id="hexa_ac" name="ac" value="<%=@hexa_cycle.specific_registers_cpu.ac%>"><br>
      <input type="text" id="hexa_dr" name="dr" value="<%=@hexa_cycle.specific_registers_cpu.dr%>">
    </div>
    <div id="hexa-cycle-ram-cells">
      <table>
        <% for i in 0..30 %>
          <% cell = @hexa_ram.findCellByPosition(i) %>
          <% if cell == nil %>
            <input class="nonborder" type="text" name="dir-<%=i%>" id="hexa_dir-<%=i%>">&nbsp;
            &nbsp;<input type="text" name="cont-<%=i%>" id="hexa_cont-<%=i%>">
          <% else %>
            <input class="nonborder" type="text" name="dir-<%=i%>" id="hexa_dir-<%=i%>" value="<%= cell.direction %>">&nbsp;
            &nbsp;<input type="text" name="cont-<%=i%>" id="hexa_cont-<%=i%>" value="<%= cell.content %>">
          <% end %>
        <% end %>
      </table>
    </div>
    <br>
    <label> Log de Operaciones: </label><br>
    <textarea id="log" name="log" rows="5" cols="18" readonly> <%= @hexa_cycle.log %> </textarea>
    <br>
    <br>
  </div>
  <!--input type="submit" value="Aceptar" id="create_cycle_hexa"-->
</form>