<!DOCTYPE html>
<html>
<head>
  <title>CicloInstruccion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Binario', new_cpu_binary_path %> &nbsp;
<%= link_to 'Hexadecimal', new_hexa_cpu_path %> <br>
<%= yield %>

</body>
</html>
