<%= form_for(@ram_binary) do |f| %>
  <% if @ram_binary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ram_binary.errors.count, "error") %> prohibited this ram_binary from being saved:</h2>

      <ul>
      <% @ram_binary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.hidden_field :cpu_binary_id, :value => @cpu_binary.id %>
  </div>
  <input type="hidden" id="cant_instrucciones" name="cant_instrucciones" value="5"/>
  <div id="binary-ram" class="container">
	  <div id="binary-cells">
		<table>
	      <% for i in 0..15 %>
	        <input type="text" name="dir<%=i%>" id="dir<%=i%>" maxlength="<%= @cpu_binary.co + @cpu_binary.dir %>">
	        &nbsp;&nbsp;<input type="text" name="cont<%=i%>" id="cont<%=i%>" maxlength="<%= @cpu_binary.co + @cpu_binary.dir %>">
	      <% end %>
	    </table>
	  </div>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar", :id => "create_ram_binary" %>
  </div>
<% end %>